# Ignore node modules
node_modules/

# Ignore distribution directory
.dist/

# Ignore log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Next build directory
.next

# TypeScript incremental build used by Next.js should not be in git
tsconfig.tsbuildinfo
# ignore dotenv environment variables
.env/
# ignore build/dist directories
.npm/
.build
# ignore Next.js directory
.next/
# ignore vercel link directory
.vercel/
# ignore .temp directory used during testing
.temp/
# standard ignorable files found when using Yarn
.DS_Store
# logging we can ignore
yarn-error.log
eslint.log
# ignore the increment typescript build info
